body {
    background-color: #CBD0DE;
    background-image: linear-gradient(#E0E0E0, #757575);
    color: #000001;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: table-cell;
    font-weight: bold;
    line-height: 1.25em;
    padding-right: 2em;
    vertical-align: top;
    width: 190px;
}

header {
    background-color: #000033;
    background-image: url('../images/sunset.jpg');
    background-position: right;
    background-repeat: no-repeat;
    color: #FFFFFF;
    line-height: 400%;
}

footer {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

header h1 {
    text-align: center;
    text-indent: 0.5em;
}

main {
    display: table-cell;
}

main ul li {
    line-height: 1.5em;
}

fieldset {
    border: 2px solid blue;
}

main form li {
    list-style: none;
}

main form label {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 2em;
    text-align: right;
    vertical-align: top;
    width: 140px;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    font-size: 20px;
    margin: 0 0 4.2em 1em;
    padding: 0;
    vertical-align: top;
}

nav li {
    list-style-type: none;
    margin: 1.2em 0;
    padding-left: 10px;
}

main ul {
    list-style-image: url(../images/marker.gif);
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 0;
}

h2 {
    color: #334DCC;
}

dd {
    margin-bottom: 1.5em;
}

dt {
    color: #000099;
    font-size: 14pt;
}

img {
    height: 190px;
    width: 206px;
    margin-left: 1em;
}

table {
    border-collapse: collapse;
    margin: auto;
    table-layout: auto;
    width: 650px;
}

th {
    color: #EAEAEA;
    padding: 5px;
}

td,
th {
    border: 1px solid #C2DFFF;
}

td:nth-child(odd) {
    text-align: center;
}

td:nth-child(4) {
    text-align: center;
}

td:nth-child(2) {
    padding-left: 5px;
}

tr:nth-child(even) {
    background-color: #56A5EC;
}

tr:nth-child(odd) {
    background-color: #659EC7;
}

tr:first-of-type {
    background-color: #000099;
}


.resort {
    color: #005CE6;
    font-weight: bold;
}

.alternative_text {
    display: none;
}

#contact {
    border: 1px black solid;
    font-size: 10pt;
    font-size: 90%;
    margin: 0 0 5px 1em;
    padding-left: 15px;
    width: inherit;
}

#contact-tablet {
    display: none;
}

#contact-mobile {
    display: none;
}

#submit {
    background-color: blue;
    border: none;
    color: white;
    margin: 1em 5px;
}

#reset {
    background-color: cornflowerblue;
    border: none;
    color: white;
    margin: 1em 5px;
}

#wrapper {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 975px;
    width: 80%;
}

#indexpage-mainimage {
    background-image: url(../images/coast-main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    margin-top: 5px;
}

#accomodationspage-mainimage {
    background-image: url(../images/bungalow-main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    margin-top: 5px;
}

#activitiespage-mainimage {
    background-image: url(../images/trail-main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    margin-top: 5px;
}


@media only screen and (max-width: 64em) {
    body {
        margin: 0;
    }

    main {
        margin-left: 2px;
    }

    h2,
    h3,
    p,
    main dl dt,
    form {
        padding-left: 2px;
    }

    nav {
        display: block;
        margin-left: 0;
        padding-top: 10px;
        width: auto;
        text-align: center;
        margin-bottom: -85px;
    }

    nav ul li {
        display: inline;
        padding: 0.25em 0.75em 0.25em 0.75em;
    }

    nav img {
        display: none;
    }

    .alternative_text {
        display: none;
    }

    #wrapper {
        min-width: 0;
        width: auto;
        margin: 0;
    }

    #indexpage-mainimage,
    #accomodationspage-mainimage,
    #activitiespage-mainimage {
        margin-left: 0;
        height: 200px;
    }

    #contact {
        display: none;
    }

    #contact-tablet {
        display: block;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        margin: 5px 10px 5px 10px;
        padding: 5px 15px 5px 15px;
        font-size: 10pt;
    }

    #contact-tablet a {
        color: black;
        text-decoration: none;
    }

    #contact-mobile {
        display: none;
    }
}

@media only screen and (max-width: 37.5em) {
    header {
        padding-top: 1em;
    }

    main {
        font-size: 90%;
        padding: 0.1em 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    table {
        display: none;
    }

    form {
        width: 113%;
    }

    fieldset {
        display: block;
        margin: auto;
        padding: 0;
    }

    main form label {
        display: block;
        text-align: left;
        margin: 0;
        margin-top: 10px;
        padding-left: 5px;
    }

    main ul {
        list-style: none;
    }

    nav ul li a {
        display: block;
        border-bottom: 2px solid #FFE4C4;
    }

    nav a:link {
        display: block;
    }

    form fieldset ul {
        padding: 0;
    }

    form fieldset ul li label {
        display: block;
        margin-bottom: 0;
        text-align: left;
    }

    form fieldset ul li input {
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    form fieldset ul li textarea {
        display: inline-block;
        text-align: left;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    .original_text {
        display: none;
    }

    .alternative_text {
        display: block;
        margin-bottom: 1.5em;
    }

    .navimage {
        background-image: none;
        height: 0;
    }

    #indexpage-mainimage {
        display: none;
        height: 0;
    }

    #accomodationspage-mainimage {
        display: none;
        height: 0;
    }

    #activitiespage-mainimage {
        display: none;
        height: 0;
    }

    #contact,
    #contact-tablet {
        display: none
    }

    #contact-mobile {
        display: block;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        margin: 5px 10px 5px 10px;
        padding: 5px 15px 5px 15px;
        font-size: 10pt;
    }

    #contact-mobile a {
        color: #551A8B;
        text-decoration: underline;
    }

    #submit {
        margin-left: 25px;
    }

    #reset {
        margin-left: 15px
    }
}
